body {
    background-color: #fff;
    padding-top: 70px; 
}

/** Login form **/
.login-form {
    max-width: 400px;
    padding: 30px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px #000000;
    -moz-box-shadow: 0 1px 2px #000000;
    -ms-box-shadow: 0 1px 2px #000000;
    box-shadow: 0 1px 2px #000000;
}

.login-form h1{
    font-size: 36px;
    margin-bottom: 25px;
    margin-top: 0;
}
.login-form .form-group{
    margin-bottom: 20px;
}
.login-form label{
    font-size: 15px;
}
.login-form input[type="text"],
.login-form input[type="password"]{
    font-size: 16px;
    height: auto;
    padding: 7px 9px;
}
.login-form input[type="checkbox"]{
    margin-right: 5px;
}
.login-form button {
    -ms-border-radius: 6px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}

/** The vertical centered content **/
html.vertical-centered {
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    -moz-min-width: 100%;
    -ms-min-width: 100%;
    -o-min-width: 100%;
    -webkit-min-width: 100%;
    min-width: 100%;
    width: 100%;
}

/** align center **/
html.vertical-centered body{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
html.vertical-centered .container{
    display: table;
    height: 100%;
    padding: 0;
    width: 100%;
}
html.vertical-centered .container .row{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}